body {
  font-family: forge;
  background-color: #f2f2f2;
}

.presentation {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;

}

.Kokedama{
  width: 350px;
}

.buttons{
  text-align: center;

}
h1 {
  color: #333;
  text-align: center;
      animation: rainbow 5s infinite ,moveUp .5s infinite alternate;
      font-size: 50px;

}

h2 {
  color: black;
  font-size: 35px;
        animation: moveLeft .5s infinite alternate;
        text-align: center;
        animation: rainbow 5s infinite;
}

h3 {
  color: black;
  font-size: 40px;
  text-align: center;
}
img {
  max-width: 100%;
  margin-bottom: 20px;
}

p{
  font-size: 18px;
}

li{
  font-size: 18px;
}
ol {
  margin-left: 20px;
}

@keyframes moveLeft{
  to{
    transform: translateX(10px);
  }
}

@keyframes moveUp{
  to{
    transform: translateY(10px);
  }
}

@keyframes rainbow {
  0% { background-color: red; }
  14% { background-color: orange; }
  28% { background-color: yellow; }
  42% { background-color: green; }
  57% { background-color: blue; }
  71% { background-color: indigo; }
  85% { background-color: violet; }
  100% { background-color: red; }
}
